.card {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 35rem;
    max-height: 32.2rem;
    padding: 6.4rem 3.2rem 4rem;
    border: none;
    border-radius: 15px;
    background: $white;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);

    img {
        position: absolute;
        top: -2.4rem;
        left: 3.2rem;
        width: 100%;
        max-width: 5.6rem;
    }

    p {
        width: 100%;

        &.medium {
            margin-top: 2.4rem;
        }
    }

    a {
        display: block;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $primary-dark;
        margin-top: 2.4rem;
    }

    &.featured {
        h3 {
            color: $white;
        }

        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }

    @include responsive(728px) {
        width: 100%;
        height: 100%;
        max-width: 34.3rem;
        max-height: 28.3rem;
        padding: 5.6rem 2.8rem 3.2rem;

        h1 {
            font-weight: 800;
            font-size: 2.0rem;
            line-height: 2.5rem;
        }

        p {
            width: 100%;

            &.medium {
                margin-top: 2.4rem;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }
        }

        a {
            display: block;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: $primary-dark;
            margin-top: 2.4rem;
        }
    }
}