header {
    padding-top: 2.9rem; 
    .container {
        @include flex(row, center, space-between);
        img {
            width: 100%;
            max-width: 11.1rem;
        }
    }
    @include responsive(768px) {
        .container {
            img {
                max-width: 8.9rem;
            }
            button {
                padding: .8rem 2.4rem;
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
        }
    }
    @include responsive(375px) {
        padding-top: 1.6rem;
    }
}